<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <Appenders>
        <!-- 콘솔로 로그를 출력하는 Appender -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{hh:mm:ss} %p [%c] %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- 스프링 프레임워크 로그 설정 -->
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <!-- org.zerock 패키지 로그 설정 -->
        <logger name="org.zerock" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <!-- 루트 로거 설정 -->
        <root level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </root>
    </Loggers>
</configuration>
